{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "env": {
    "browser": true,
    "node": true,
    "shared-node-browser": true,
    "commonjs": true,
    "es6": true
  },
  "globals": {
    "ReactClass": true,
    "DomTree": true,
    "DomTreeNode": true,
    "Mappings": true,
    "React$Element": true
  },
  "rules": {
    "no-console": 0,

    "react/jsx-filename-extension": 0,
    "react/sort-comp": 0,

    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js", "**/*.spec.js", "webpack.config.js"]}]
  }
}
